name: Lint

on: [push, pull_request]

jobs:
  textlint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@v4
    - uses: actions/setup-node@v6
      with:
        node-version: 22
        cache: 'pnpm'
    - name: Install deps
      run: pnpm install
    - name: Run textlint
      run: pnpm run lint
